%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
  Already an user? Login here
  %span.caret
.dropdown-menu{:style => "padding: 10px;"}
  %form{:action => "/login", :method => "post", :role => "form"}
    .form-group
      %input#username.form-control{:name => "username", :type => "text", :placeholder => "Email address", :class => "form-control input-md", "data-bv-notempty" => "", "data-bv-notempty-message" => "Email required!"}
      %input#password.form-control{:name => "password", :type => "password", :placeholder => "Password", :class => "form-control input-md", "data-bv-notempty" => "", "data-bv-notempty-message" => "Password required!"}
    %button.btn.btn-default{:type => "submit"} Login