!!!
%html
  %head
    %title SydneyTesters QuickQuote
    %link(rel="stylesheet" href="css/bootstrap.min.css")
  %body
    #wrapper
      #header
        %h1 SydneyTesters Life Insurance
	
      #content
        =yield