!!!
%html
  %head
    %title SydneyTesters QuickQuote
    %link(rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" media="screen, projection")
    %link(rel="stylesheet" href="css/bootstrap.min.css")
    %script(src="http://code.jquery.com/jquery-1.8.2.min.js")
    %script(src="http://code.jquery.com/ui/1.9.0/jquery-ui.js")
  %body
    #wrapper
      #header
        %img{:src => "images/sydneytesters.png", :style => "margin-top:50px;", :class => "mainbox col-md-8 col-md-offset-2"}

      #content
        =yield