.container
  #premiumbox{:style => "margin-top:50px;", :class => "mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2"}                    
    .panel.panel-info
      .panel-heading
        %h3{:class => "panel-title"}Syeney Testers Life Insurance
      .panel-body{:style => "padding-top:30px"}
        %h5 $100.01
    	
